body {
    font-family:  'Poppins', sans-serif;
    background-color: antiquewhite;
}

h3 {
    letter-spacing: 4px;
  }

.my-container{
    border: 1px solid red;
}

.my-row{
    border: 1px solid green;
}

.my-column{
    border: 3px dashed blueviolet;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

.height-75{
    height: 75px !important;
}

.height-500{
    height: 500px !important;
}

