body {
    font-family:  'Poppins', sans-serif;
}

.letter-space-3px {
    letter-spacing: 3px;
  }

.my-container{
    border: 1px solid red;
}

.my-row{
    border: 1px solid green;
}

.my-column{
    border: 3px dashed blueviolet;
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

.height-75{
    height: 75px !important;
}

.height-500{
    height: 500px !important;
}

.my-heading{
    font-size: 24px;
}

.border-radius-25{
    border-radius: 25px;
}

.font-fajalla{
    font-family: 'Fjalla One', sans-serif !important;
}

.font-light-grey{
    color:#aaa !important;
}